<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan de bataille secret pour conquérir le monde</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body class="intro-body">
    <div class="intro-container">
        <h1>Flash info&nbsp;: Nous sommes attaqués!</h1>
        <p>
            Les poneys se sont alliés dans le but de mettre fin à la civilisation des humains et ils vont lancer leur plan dans moins de 1 heure. Aidez-nous à accéder à leurs informations et cela nous permettra de monter une contre-attaque ou au moins nous faire gagner du temps.
        </p>
        <p>
            Commencez votre mission et n’échouez pas. Vous êtes notre seul espoir…
        </p>
        <div class="text-xs-center">
            Si vous avez déjà votre jeton d’identification, <a  class="btn btn-success" href="/Step1">commencez le combat</a>. Sinon, c’est le moment de <a href="/Register" class="btn btn-primary">s’inscrire.</a> 
        </div>
    </div>
</body>
</html>