<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan de bataille secret pour conquérir le monde</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-logo pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>Vous avez un message du maitre espion</h1>
                    <p class="text-xs-justify">
                        Bien joué agent! Vous venez d’accéder aux communications de SecFail. Le seul indice que nous avons pour décoder ce message est [A ---> F]. C’est du bon boulot. Continuez! <b>Alea jacta est!</b>
                    </p>
                    <p>
                        <div id="countdown">
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-block text-xs-center div-top-margin">
            Nq xjrgqj vzj stywj xzujw fqltwnymrj ij hmnkkwjrjsy fnj éyé htruwtrnx. À ufwynw ij rfnsyjsfsy, stzx zynqnxjwtsx zsj hqjk utzw hmnkkwjw stx htrrzsnhfyntsx.<br />
            1 - sjyytdje qf hqjk js xzuuwnrfsy qjx qjyywjx js itzgqj.<br />
            2 - ywfsxutxje qf hqjk fajh qf uwjrnèwj qjyywj ij q’fqumfgjy.<br />
            3 - htruqéyje qj yfgqjfz fajh qj wjxyj ij q’fqumfgjy js htrrjsçfsy ufw qf ijwsnèwj qjyywj ij qf hqjk.<br />
            <br /><br />
            <u>jcjruqj fajh rtsxjhwjy htrrj hqjk</u><br />
            <br /><br />
            fghijklmnopqrstuvwxyzabcde<br />
            rtsxjhwyzabcdefgiklmnopquv<br />
            à hj xyfij, stzx zynqnxtsx hwfnsyqjxutsjdx htrrj hqjk<br />
            Zynqnxje-qf utzw iéhmnkkwjw kigsbooxexqgigo. H’jxy qj rty ij ufxxj utzw fhhéijw fz wjxyj ij stywj uqfs fajh qj ktwrzqfnwj xznafsy.<br />
            <br />
            <br />
        </div>

        <div class="text-xs-center div-top-margin">
            <form method="GET" action="/Step9861" class="form-horizontal">
                <div class="form-group row">
                    <label for="authtoken" class="col-sm-2 control-label">Jeton d’identification&nbsp;:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="authtoken" type="text" name="authtoken" />
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group row">
                    <label for="password" class="col-sm-2 control-label">Mot de passe&nbsp;:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="password" type="text" name="password"/>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-success">Obtenir l’accès</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/app.js"></script>
</body>
</html>