<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan de bataille secret pour conquérir le monde</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-logo pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>Vous avez un message du maitre espion</h1>
                    <p class="text-xs-justify">
                        Super travail agent! Nous n’avons jamais été aussi proches de battre SecFail. Pourtant, ils ont déployé un nouvel algorithme de chiffrement. Heureusement nous avons été capables d’obtenir les spécifications de leur algorithme. Si vous pouvez vous en servir, nous devrions pouvoir mettre leur plan en échec. Les spécifications sont disponibles <a href="https://fr.wikipedia.org/wiki/Chiffre_de_Vigen%C3%A8re" target="blank">ici</a> et ils utilisent <b>« peuxtulefaire »</b> comme clef.
                    </p>
                    <p>
                        <div id="countdown">
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-block text-xs-center div-top-margin">
            Iy yp mlzt kozk! Rdym axpzrx ajrrsshkxl aszr t’zrhxukm. Hzyx vwlw rshqtweiwovj ujeha gifw fuzfrh yh jxcwpjuz gppr yq joppvumj mckéhfxocw jxxéimbihqél.<br><br>

            Yy eytmehprn, shod ttudvd amlb vy asère lv Kégela wy Yiwvic tjmmnny, pl gime, ma imq ollmrevk xgèw vlg.<br><br>
            
            yw hjslzgwexl<br><br>
            
            cy dyns tv xécéflbnr, – wi aecw, – p’xrwlgmzpé,<br>
            qe ximcgy a’tkfmyaqei à ae nlnl lftlqv : <br>
            qp wyrey éesnlm vwi qiomy, – px rov cyil wlgmeiqlé <br>
            xfvii fb liwinl vfmg hy it géwescwcmt. <br><br>
            
            hukl fl rzib uy isgyxuf, xti ylm b’em zhhdsqé,<br>
            rmehh-qif ey Aezsqcmety bm fl qjr l’Zxppcb,<br>
            eu qpjuz hyx tfxbmlmy tiex à bsh zœnl oéwtlé,<br>
            mk pp xlbbfwi tù lm gebtlb à eu csxe a’rpamy. <br><br>
            
            pncd-nj aufyg so Maévfw ?… Quazkceh ln Vtvtn ?<br>
            ufr uvikm ydx wocxi trwlk xf ffiavv si fx kytrj ;<br>
            j’iz vêké hukl fl kwobki dù rudx fl wnrèvv… <br><br>
            
            ii n’uf wyfb koqj zpmhnnyfv yrimigwé f’Xvbécss : <br>
            mwuyaehq mifv à yoci wjv fx esci i’Ozglét <br>
            pyp liftnra ui ae mxbhei jt tvw rvcp wy we kée. <br><br>
            
            K’vwi fyxn h’pwy-cm geh?<br>
            Qufl uexjnlvd, esoo gifw gabkvt zirl xpzjz icptv czb /xderflj?ecwqbk=[gpxyrmcegijlgmpmhi]&ilxwxihxh=[pxncqciyinlg] ye véuovuio à pu dkuyhj qcvwimik loc pf vqv, p'jrcsxld iy lm iihxy!<br> <br>
        </div>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/app.js"></script>
</body>
</html>