<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan de bataille secret pour conquérir le monde</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-logo pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>Vous avez un message du maitre espion</h1>
                    <p class="text-xs-justify">
                        Super, vous y êtes arrivés! Nous espérons que vous vous êtes amusés!!!!
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-block text-xs-center div-top-margin">
            La cryptographie, l’usage de codes et chiffres pour protéger des secrets a commencé il y a des milliers d’années.<br><br>
            Les codes ont influencé le cours de l’histoire. Et il existe des récits de ceux qui les ont crée et ceux qui les ont cassés.<br><br>
            Nous vous encourageons vivement à jeter un œil sur l’histoire surprenante des codes secrets :)
        </div>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/app.js"></script>
</body>
</html>